Drogi użytkoniku,

Ten email został użyty w trakcie rejsetracji do aplikacji Bibliogar. Aby donończyć proces rejestracji wprowadź w aplikacji poniższy kod aktywacyjny:

{{token}}

Po weryfikacji adresu będziesz mógł się zalogować.