Drogi użytkowniku,

Ten email został użyty w trakcie rejestracji do aplikacji Bibliogar. Aby dokończyć proces rejestracji wprowadź w aplikacji poniższy kod aktywacyjny:

{{token}}

Po weryfikacji adresu będziesz mógł się zalogować.