Drogi użytkowniku,

Otrzymaliśmy żadanie zmiany hasła w aplikacji Bibliogar. Jeśli żadanie nie pochodzi od Ciebie, zignoruj tę wiadomość i żadna dalsza akcje nie będzie podjęta.
Jednak w przypadku, jeśli żadanie pochodzi od Ciebie, wprowadź poniższy kod w formularzu resetu hasła:

{{token}}