Drogi użytkowniku,

Otrzymaliśmy żądanie zmiany hasła w aplikacji Bibliogar. Jeśli żądanie nie pochodzi od Ciebie, zignoruj tę wiadomość i żadna dalsza akcje nie będzie podjęta.
Jednak w przypadku, jeśli żądanie pochodzi od Ciebie, wprowadź poniższy kod w formularzu resetu hasła:

{{token}}